.login {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &__background {
    background-image: url(../../assets/image/background_login.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(10px);
  }

  &__container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 28px -9px rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-bottom: 20px;
    padding-top: 0;
    text-align: center;
    width: 32%;
    height: 80%;
  }

  &__logo {
    background-image: url(../../assets/image/HeaderLogo.jpg);
    height: 40%;
    width: 50%;
    position: relative;
    background-size: cover;
    margin-inline: 15%;
  }

  &__title {
    font-size: x-large;
    font-family: "Times New Roman", Times, serif;
    color: darkblue;
    padding-top: 0;
  }

  &__box {
    margin-top: 40px;
  }
}
